:root{
    --vermelho:#e50914;
    --preto:#141414;
}
/*elemento base*/
body{
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .container{
    display: flex; /*joga tudo para linha de cima*/
    flex-direction: row; /*precisa declarar, ou então não muda nada*/
    align-items: center; /*alinhar todos os menus, não alinha no centro da tela, e alinha de maneira vertcal*/
    justify-content: space-between; /*para separar os textos de caixa diferentes, como o logo dos menus*/
}

header .logo {
    margin-left: 5px; /*desgrudar logo do canto*/
    color: var(--vermelho);
    font-family: 'Ariel Black', 'Times New Roman', Times, serif;
    font-size: 40px;
}

header nav a {
    text-decoration: none; /*remove the line*/
    color: #AAA;
    margin-right: 10px; /*space of distance between words*/
}

header nav a:hover{  /*quando você passa o mouse, ele muda a cor do texto*/
    color: #fff;
}

/*parte principal da página*/

.animeprincipal{
    font-size: 16px;
    background: linear-gradient(to right,#181818 10%,rgba(23,23,23,.98) 20%,rgba(23,23,23,.97) 25%,rgba(23,23,23,.95) 35%,rgba(23,23,23,.94) 40%,rgba(23,23,23,.92) 45%,rgba(23,23,23,.9) 50%,rgba(23,23,23,.87) 55%,rgba(23,23,23,.82) 60%,rgba(23,23,23,.75) 65%,rgba(23,23,23,.63) 70%,rgba(23,23,23,.45) 75%,rgba(23,23,23,.27) 80%,rgba(23,23,23,.15) 85%,rgba(23,23,23,.08) 90%,rgba(23,23,23,.03) 95%,rgba(23,23,23,0) 100%), url('../img/nogamenolife.jpg');
    height: 400px;/*tamanho da imagem*/
    background-size: cover;
    display: flex;
    flex-direction: column; /*normalizar de maneira vertical*/
    justify-content: center;
    align-items: flex-start; /*ele se refere a linha da esquerda para direita*/
    
}

.animeprincipal .sinopse{
    margin-bottom: 50px;
    margin-top: 4%;
    margin-left: 5px;
}

.titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: cursive;
    color: rgb(243, 168, 193);
}

.botao{
    background-color: rgba(0,0, 0, 0.50);
    border: none;
    color: white;

    padding: 15px 30px; /*preenchimento, primeiro valor muda o tamanho de cima e de baixo e o segundo valor da direita e esquerda.*/
    margin-right: 20px; /*espaçamento entre botoes*/
    font-size: 12px; /*tamanho da fonte*/
    cursor: pointer;
    transition: 0.3s ease all;
}

.botao:hover{ /*serve para quando passarmos o mouse em cima irá mudar a cor indicada nas configurações*/
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 6px;
}

.container{
    margin-left: 20px;
}

.animeprincipal .container{ /*para o texto não ir até o final do lado direito, da um limite em % a ele.*/
    width: 65%;
}

.box-anime{
    height: 100%;
    width: 100%;
    display: block;
}
